p{
	padding: 5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 400;
	color:#52000c;
	text-align: justify;
	text-indent: 30px;
	margin: 0px;
}

body{
	margin:0;
	padding:0;
	background-color:#FAF1E7 ;	
}

#container {
	width:950px;
	height:auto;
	margin:auto;
	margin-top: 15px;
	background-color: #FAF1E7;
}

#logo {
	width:950px;
	height:80px;
	padding:0;
	margin-left:auto;
	margin-right:auto;
	
}

#container-menu {
	width:100%;
	height:60px;
}

#menu {
	width:950px;
	height:60px;
	margin-left:auto;
	margin-right:auto;
	background-color: #9F9080;
}

#menu ul {
	width:950px;
	height:60px;
	margin:0;
	padding:0;
	list-style-type:none;
	font-weight: 800;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#menu ul li {
	position:relative;
	float:left;
}

#menu ul li a {
	text-decoration:none;
	float:left;
	color:#FFF;
	display:block;
	width:158px;
	height:60px;
	text-align:center;
	line-height:60px;
}

#menu ul li a:hover {
	background:#FFD9B3;	
	color:#52000c;
}

#banner {
	width:100%;
	height:100%;
	background-color: brown;
	margin-top: 15px;	
	margin-bottom: 15px;
}

#fono img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

#corpo{
	background-color: #FAF1E7;
	
}

#emconstrcao img {
	display: block;
    margin-left: auto;
    margin-right: auto
}



.SUBTITULO  {
	background-color: #9F9080 ;
	padding-left: 15px;
	size: 20px;
	font-weight: 600;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#posts { 
	position:relative;
	width:30%;
	float: left;
}

#posts li {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 400;
	color:#52000c;
	list-style: disc;
	margin-bottom: 10px;
}

#bemvindos {
	position: relative;
	width:68%;
	float: right;	
}

#fotopq{
	float: left;
}	

#ass{
	display: block;
	float: right;
}	

#bemvindos p img {
	margin-right: 10px;
}




#rodape {
	padding-top: 20px;
	width:100%;
	height: 60px;
	margin-top: 20px;
	background: url("../imagens/rodape.png");
	background-repeat: repeat-x;
	position: relative;
	float: right;
	align-items: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
 }

#rodape p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 300;
	color:#52000c;
	text-indent: 0px;
    font-size: 10pt;
}

#direitos{
	position:relative;
	width:40%;
	float: left;
}

#midias{
	position: relative;
	width:58%;
	float: right;	
}

#tabela{
	width: 100%;
	
}


