p{
	padding: 5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 400;
	color:#52000c;
	text-align: justify;
	text-indent: 20px;
	margin: 0px;
}

body{
	margin:0;
	padding:0;
	background-color:#fcf5ef ;	
}

#container {
	width:950px;
	height:auto;
	margin:auto;
	margin-top: 15px;
}

#logo {
	width:950px;
	height:80px;
	padding:0;
	margin-left:auto;
	margin-right:auto;
	
}

#container-menu {
	width:100%;
	height:60px;
}

#menu {
	width:950px;
	height:60px;
	margin-left:auto;
	margin-right:auto;
	background-color: #9F9080;
}

#menu ul {
	width:950px;
	height:60px;
	margin:0;
	padding:0;
	list-style-type:none;
	font-weight: 800;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#menu ul li {
	position:relative;
	float:left;
}

#menu ul li a {
	text-decoration:none;
	float:left;
	color:#FFF;
	display:block;
	width:158px;
	height:60px;
	text-align:center;
	line-height:60px;
}

#menu ul li a:hover {
	background:#FFD9B3;	
	color:#52000c;
}

#banner {
	width:100%;
	height:100%;
	background-color: brown;
	margin-top: 15px;	
	margin-bottom: 15px;
}

#corpo{
	background-color: darkblue;
}

.SUBTITULO  {
	background-color: #9F9080 ;
	padding-left: 15px;
	size: 20px;
	font-weight: 600;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#posts { 
	position:relative;
	width:30%;
	background-color: white;
	float: left;
}

#bemvindos {
	position: relative;
	width:68%;
	background-color: white;
	float: right;	
}

#fotopq{
	float: left;
}	


#rodape {
	background-color:blue;
	display: block;
	align-items: center;
 }